{% extends "base.html" %}

{% block content %}

{% from "form_macros.html" import render_form_errors %}

{{ render_form_errors(form) }}

<form method="post" action="{{ url_for('dashboard.index') }}" role="form">
  {{ form.hidden_tag() }}

  <div class="input-group">
    {{ form.pdb_id(class_='form-control',
                   placeholder='Enter a PDB Accession Code') }}

    <span class="input-group-btn">
      <button class="btn btn-success" type="submit">Submit</button>
    </span>
  </div>
</form>

{% endblock %}

{% block js %}
{% endblock %}
