{% extends "base.html" %}

{% block content %}

{% from "form_macros.html" import render_form_errors %}

{{ render_form_errors(form) }}

<form method="post" action="{{ url_for('dashboard.index') }}" role="form">
  {{ form.hidden_tag() }}

  <div class="input-group">
    {{ form.pdb_id(class_='form-control',
                   placeholder='Enter a PDB Accession Code') }}

    <span class="input-group-btn">
      <button class="btn btn-success" type="submit">Submit</button>
    </span>
  </div>
</form>

<br/>
<h4>Visualisation</h4>
<p>
Many tools exist to calculate physicochemical properties of protein
structures.<br/><em>pdb-vis</em> brings several of those tools together and
provides convenient visualisations of protein structure properties at the
residue level.
</p>
<p>
For each chain the following properties are calculated and mapped onto the
sequence:
<ul>
  <li>DSSP secondary structure converted to 6 states (&beta;-strand,
  &alpha;-helix, 3<sub>10</sub>-helix, &pi;-helix, turn, and loop)</li>
  <li>residue molecular accessible surface area (&#8491;<sup>2</sup>)</li>
  <li>whether the residue is clearly solvent accessible (indicated by '^').
  A residue is defined as clearly exposed if it is more exposed than 10 &#8491;
  <sup>2</sup>, or more exposed than a third of its accessibility in the
  unfolded state</li>
  <li>whether the residue contacts symmetry-related residues (indicated by '-')
  </li>
</ul>
</p>
<p>
The number of symmetry contacts is visualized for each residue in a YASARA
scene. Download the freely available
<a href="http://www.yasara.org">YASARA View</a> to inspect the scene.
</p>
<h4>References</h4>
<ul>
  <li>Kabsch, W. & Sander, C. (1983) Dictionary of protein secondary structure:
  pattern recognition of hydrogen-bonded and geometrical features. Biopolymers,
  22, 2577–2637.</li>
  <li>Krieger, E. & Vriend, G. (2014) YASARA View - molecular graphics for all
  devices - from smartphones to workstations. Bioinformatics,
  doi:10.1093/bioinformatics/btu426</li>
</ul>

{% endblock %}

{% block js %}
{% endblock %}
